{
  "semi": true,
  "trailingComma": "none",
  "doubleQuote": true,
  "printWidth": 80,
  "[typescript]": {
    "editor.formatOnPaste": true,
    "editor.formatOnSave": true
  },
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true
}
